body {
	max-width: 1440px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* icons--> */
/* menu-icon container */
.icon-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
}

.icon-img {
	width: 20px;
	height: 20px;
}

/* <--icons */

/* fonts --> */
/* jost regular400 [16]: 1-header (items, button, search-placeholder), 3-ctas (buttons), 4-reviews (slider-content, company), 5-footer (s1, s3-content+buttons, s2-links, footer-rights) [20]: 3-ctas (content)  */

.fs-content {
	font-family: 'Jost', sans-serif;
	font-weight: 400;
	font-size: 16px;
}

.fs-contenth {
	font-family: 'Jost', sans-serif;
	font-weight: 400;
	font-size: 20px;
}

.fs-contentm {
	font-family: 'Jost', sans-serif;
	font-weight: 500;
	font-size: 16px;
}

/* jost medium500 [18]: 5-footer (s2, s3-title) */
.fs-sectiont {
	font-family: 'Jost', sans-serif;
	font-weight: 500;
	font-size: 18px;
}

/* jost semibold600 [16]: 4-reviews (slider-name/author) */
.fs-contentsb {
	font-family: 'Jost', sans-serif;
	font-weight: 600;
	font-size: 16px;
}

/* titilium web regular400 [36]: 2-grid (imgs), 3-cta (title) [32]: 4-reviews (title)    */
.fs-title {
	font-family: 'Titillium Web', sans-serif;
	font-weight: 400;
	font-size: 36px;
}

/* font-family: 'Jost', sans-serif; */
/* font-family: 'Titillium Web', sans-serif; */

/* <-- fonts */

/* header--> */
header {
	width: 100%;
}
.menu-section {
	display: flex;
	max-width: 1224px;
	height: auto;
	margin: 24px auto;
	justify-content: space-between;
	align-items: center;
}

.logo-section {
	display: flex;
	justify-content: space-between;
	width: 458px;
	height: 40px;
}

.button-search {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 434px;
	gap: 25px;
	height: 44px;
}

.menu-options {
	display: flex;
	width: 308px;
	justify-content: space-between;
}

.logo {
	display: flex;
	align-items: center;
}

.logo img {
	display: block;
}

/* navbar menu-options --> */
.drop-wrapper {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 75px;
}

.item-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 49px;
}

.drop-wrapper a,
.item-wrapper a,
.drop-content a {
	text-decoration: none;
	color: #000;
}

/* Dropdown button */
.drop .drop-opts {
	border: none;
	background-color: inherit;
	padding: 0px;
}

/* Dropdown content (hidden by default) */
.drop-content {
	display: none;
	position: absolute;
	min-width: 100px;
	background-color: #fff;
	z-index: 1;
}

/* Links inside the dropdown */
.drop-content a {
	float: none;
	padding: 12px 12px;
	display: block;
	text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.drop-content a:hover {
	background-color: #ddd;
}

/* Show the dropdown menu on hover */
.drop:hover .drop-content {
	display: block;
}
/* <--navbar menu-options */

/* navbar button-search --> */
.mainb-button {
	display: flex;
	width: auto;
	height: 40px;
	background-color: #0860c4;
	color: #fff;
	border: 0;
	border-radius: 20px;
	padding: 0 20px;
	gap: 8px;
}

.mainb-button .mainb-title {
	margin: auto;
	/* UI */
}

.link-btn {
	text-decoration: none;
}

.link-btn:hover {
	opacity: 0.8;
}

.input-search {
	display: flex;
	align-items: center;
}

.input-search input {
	max-width: 210px;
	height: 42px;
	padding: 0px;
	border-color: #dcdcdc;
	border-width: 1px;
	border-style: solid;
	border-radius: 20px 0px 0px 20px;
	padding-left: 20px;
}

.input-search .search-btn {
	width: 52px;
	height: 44px;
	padding: 0px;
	border-width: 0px;
	background-color: #0860c4;
	border-radius: 0px 20px 20px 0px;
}
/* <-- navbar button-search */
/* <--header */

/* grid-links --> */
.linkb-container {
	display: flex;
	flex-wrap: wrap;
	padding-left: 0px;
	justify-content: center;
	margin: 0;
}

.link-box {
	list-style: none;
	flex-basis: 33.333333%;
}

.linki-box {
	position: relative;
	text-align: center;
	color: white;
}

.linki-box img {
	display: block;
	object-fit: cover;
}

.linkt-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
/* <-- grid-links */

/* cta --> */

.ctas {
	display: flex;
	align-items: center;
	background-color: #0860c4;
	width: 100%;
	height: auto;
}

.cta-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: auto;
	width: 1224px;
	margin: 0 auto;
}

.cta-content {
	color: #fff;
	margin: 6px 36px 24px 36px;
	text-align: center;
	line-height: 1.7em;
}

.cta-title {
	color: #fff;
	margin: 72px 0 0 0;
}

.ctab-container {
	display: flex;
	justify-content: space-between;
	width: 332px;
	height: 40px;
	margin-bottom: 72px;
}

.cta-btns {
	width: auto;
	height: 40px;
	background-color: #0860c4;
	color: #fff;
	border: 1px;
	border-style: solid;
	border-radius: 20px;
	border-color: #fff;
	padding: 0 20px;
}

.cta-btnp {
	width: auto;
	height: 40px;
	background-color: #fff;
	color: #0860c4;
	border: 0;
	border-radius: 20px;
	padding: 0 20px;
}

/* <-- cta */

/* review-slider --> */
.reviews {
	width: 100%;
}

.review-container {
	height: auto;
	margin: 64px 108px;
}

.slider-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	margin: 20px 0 0 0;
}

.splide-js {
	flex-basis: 797px;
}

.review-container {
	/* UI */
}

.reviews-cta-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #0860c4;
	flex-basis: 427px;
}

.slide-content {
	margin: 64px;
}

.review-content {
	/* UI */
}

.review-author {
	color: #0860c4;
}

/* <-- review-slider */

/* footer --> */
footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.footer-main {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 1224px;
	margin-top: 48px;
}

.footer-info,
.footer-contact {
	flex-basis: 415px;
}

.footer-info .footeri-content {
	margin: 24px 0 0 0;
}

.footer-links {
	flex-basis: 298px;
}

.footer-links a {
	color: #0860c4;
	text-decoration: none;
}

.footer-links a .link-wrapper {
	margin-top: 12px;
}

.contactb-container {
	display: flex;
	gap: 12px;
	height: auto;
	padding-top: 12px;
}

.footer-icons {
	display: flex;
	justify-content: space-between;
	width: 132px;
	margin: 24px auto;
}

.footer-rights {
	margin-bottom: 48px;
}

/* <-- footer */

/* don't show splide-links condition */
@media (min-width: 601px) {
	#splide-links {
		display: none;
	}
}

/* responsiveness for smaller screens */
@media (max-width: 1224px) {
	.menu-section {
		flex-direction: column;
		gap: 15px;
	}

	.review-container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.reviews-cta-container {
		order: 1;
	}

	.splide-js {
		order: 2;
	}

	.slider-container {
		gap: 25px;
	}

	.footer-main {
		flex-direction: column;
		justify-content: center;
		gap: 50px;
	}

	.footer-info,
	.footer-links,
	.footer-contact {
		flex-basis: 0;
		text-align: center;
		padding: 0 20px 0 20px;
	}

	.contactb-container {
		justify-content: center;
	}

	.logo {
		justify-content: center;
	}
}

/* for Mobile - not ready for screens with width < 350px */
@media (max-width: 600px) {
	.logo-section {
		display: none;
	}

	.button-search {
		gap: 25px;
	}

	.review-container {
		margin: 50px 0;
	}

	.input-search input {
		max-width: 100px;
	}

	.linkb-container {
		display: none;
	}

	.linki-box img {
		width: 100%;
	}

	.splide-js {
		max-width: -webkit-fill-available;
	}
}
